<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

</head>
<body>

<div class="widget-box">



    <input ng-model="form.showStatus" ng-init="form.showStatus='2'" ng-show="false">
    <div class="widget-title"><span class="icon"> <i class="icon-list"></i> </span>
        <h5>投保人信息</h5>
        <label class="checkbox inline "><span class="require-tips">*</span>是否同被保险人:</label>
        <label class="checkbox inline">
            <input type="checkbox"
                   ng-model="toInsured" ng-true-value="1" ng-click="isSampleToApplicant(toInsured)"
                   ng-false-value="0"
                    >
        </label>
    </div>
    <div class="widget-content nopadding">
        <form id="form-wizard" class="form-horizontal" method="post" name="applicantForm"
              action="personal-issue.html" novalidate>
            <div id="form-wizard-1" class="step">
                <div class="control-group control-group-inline">
                    <label class="control-label"><span
                            class="require-tips">*</span>客户类型:</label>

                    <div class="controls">
                        <label class="radio inline">
                            <input type="radio" name="optionsRadios" id="optionsRadios1"
                                   value="1" ng-change="cusRadio(1)"
                                   ng-model="mainInfo.applicant.insuredType">
                            个人
                        </label>
                        <label class="radio inline">
                            <input type="radio" name="optionsRadios" id="optionsRadios2"
                                   value="2" ng-change="cusRadio(2)"
                                   ng-model="mainInfo.applicant.insuredType">
                            团体
                        </label>
                    </div>
                </div>
                <div class="control-group control-group-inline">
                    <label class="control-label"><span class="require-tips">*</span>名称:</label>

                    <div class="controls">
                        <input type="text" name="appliName"
                               ng-model="mainInfo.applicant.appliName" required/>
                    </div>
                </div>
                <div class="control-group control-group-inline">
                    <label class="control-label"><span class="require-tips">*</span>证件:</label>

                    <div class="controls">
                        <select ng-model="mainInfo.applicant.identifyType"
                                name="applicantIdentifyType" id="applicantIdentifyType"
                                ng-options="cert.id as cert.name for cert in identifyTypeArr"
                                >
                            <!--<option ng-options="cert in personCert" value="{{cert.id}}">{{cert.name}}</option>-->
                        </select>
                        <input id="idCard" ng-model="mainInfo.applicant.identifyNumber"
                               type="text" name="idCard" maxlength="18" placeholder="证件号"
                               ng-change="calSex(mainInfo.applicant.identifyNumber,'applicant')"
                               ng-model-options="{updateOn: 'blur'}" required/>
                    </div>
                </div>

                <div class="control-group control-group-inline"
                     ng-show="mainInfo.applicant.insuredType==1">
                    <label class="control-label"><span class="require-tips">*</span>性别:</label>

                    <div class="controls">
                        <label class="radio inline">
                            <input type="radio" name="sexRadios" id="optionsRadios1"
                                   value="1" checked ng-model="mainInfo.applicant.sex">
                            男
                        </label>
                        <label class="radio inline">
                            <input type="radio" name="sexRadios" id="optionsRadios2"
                                   value="2" ng-model="mainInfo.applicant.sex">
                            女
                        </label>
                    </div>
                </div>
                <div class="control-group control-group-inline">
                    <label class="control-label"><span class="require-tips">*</span>手机号:</label>

                    <div class="controls">
                        <input type="text" name="mobile"
                               ng-model="mainInfo.applicant.mobile" />
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="widget-title"><span class="icon"> <i class="icon-list"></i> </span>
        <h5>补充信息</h5>
    </div>

    <div class="widget-content nopadding">
        <form id="form-wizard" class="form-horizontal" method="post" name="otherForm"
              action="personal-issue.html" novalidate>
            <div id="form-wizard-1" class="step">
                <div class="control-group control-group-inline">
                    <label class="control-label"><span
                            class="require-tips">*</span>争议解决方式:</label>

                    <div class="controls">
                        <label class="radio inline">
                            <input type="radio" name="argueSolution"
                                   value="1"
                                   ng-model="order.argueSolution">
                            诉讼
                        </label>
                        <label class="radio inline">
                            <input type="radio" name="argueSolution"
                                   value="2"
                                   ng-model="order.argueSolution">
                            仲裁
                        </label>
                    </div>
                </div>

                <div class="control-group control-group-inline" ng-show="order.argueSolution=='2'" >
                    <label class="control-label"><span class="require-tips">*</span>仲裁机构名称:</label>
                    <div class="controls">
                        <input type="text" name="arbitBoardName"
                               ng-model="order.arbitBoardName" placeholder="请输入仲裁机构名称"/>
                    </div>
                </div>

                <div class="control-group control-group-inline">
                    <label class="control-label"><span
                            class="require-tips">*</span>验车情况:</label>

                    <div class="controls">
                        <label class="radio inline">
                            <input type="radio" name="carCheckStatus"
                                   value="1"
                                   ng-model="order.carCheckStatus">
                            需验车
                        </label>
                        <label class="radio inline">
                            <input type="radio" name="carCheckStatus"
                                   value="2"
                                   ng-model="order.carCheckStatus">
                            免验车
                        </label>
                        <label class="radio inline">
                            <input type="radio" name="carCheckStatus"
                                   value="4"
                                   ng-model="order.carCheckStatus">
                            已验车
                        </label>
                    </div>
                </div>

                <div class="control-group control-group-inline" ng-show="order.carCheckStatus!='2'">
                    <label class="control-label"><span class="require-tips">*</span>验车人:</label>

                    <div class="controls">
                        <input type="text" name="carChecker"
                               ng-model="order.carChecker" />
                    </div>
                </div>

                <div class="control-group control-group-inline" ng-show="order.carCheckStatus!='2'">
                    <label class="control-label"><span class="require-tips">*</span>验车时间:</label>

                    <div class="controls">
                        <input type="text" name="carCheckDate"
                               ng-model="order.carCheckDate" />
                    </div>
                </div>

                <div class="control-group control-group-inline" ng-show="order.carCheckStatus=='2'">
                    <label class="control-label"><span class="require-tips">*</span>免验原因:</label>

                    <!--<div class="controls">-->
                        <!--<input type="text" name="carCheckReason"-->
                               <!--ng-model="order.carCheckReason" />-->
                    <!--</div>-->
                    <div class="controls">
                        <select ng-model="order.carCheckReason"
                                >
                            <option value="1">按期续保</option>
                            <option value="2">单保第三者责任险及其附加险</option>
                            <option value="3">其他原因</option>
                        </select>
                </div>

                <div class="control-group control-group-inline" ng-show="other.jqx!=1">
                    <label class="control-label"><span class="require-tips">*</span>交强险承保公司:</label>

                    <div class="controls">
                        <input type="text" name="insuredName"
                               ng-model="order.mainSubRemark" />
                    </div>
                </div>
                <div class="control-group control-group-inline" ng-show="other.jqx!=1">
                    <label class="control-label"><span class="require-tips">*</span>交强险保单号:</label>

                    <div class="controls">
                        <input type="text" name="insuredName"
                               ng-model="order.mainSubPolicyNo" />
                    </div>
                </div>

            </div>
        </form>
    </div>
    <script src="js/angular-jquery.js"></script>
</div>
</body>
</html>