<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

</head>
<body>

<div class="widget-box">

    <input ng-model="form.showStatus" ng-init="form.showStatus='3'" ng-show="false">
    <div class="widget-title"><span class="icon"> <i class="icon-list"></i> </span>
        <h5>投保确认信息</h5>

    </div>
    <div class="widget-content nopadding">
        <form id="form-wizard" class="form-horizontal" method="post" name="applicantForm"
              action="personal-issue.html" novalidate>
            <div id="form-wizard-1" class="step text-center">

                <div class="control-group ">
                    <div class="controls">

                        车辆<{{mainInfo.carInfo.licenseNo}}>,已成功生成订单，订单号:{{mainInfo.main.proposalNo}},后续将转人工处理

                    </div>

                </div>
                <div class="control-group ">

                    <div class="controls">

                        <button type="button" ng-click="reloadPage()"
                                class="btn btn-success">继续录入下一单
                        </button>

                    </div>


                </div>
            </div>
        </form>
    </div>



</div>
</body>
</html>